<body>
<ng-container *ngIf="artArray.length!=0; else elseTemplate">
<header>
    <a href="#" class="logo">Logo</a>
    <div class="toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</header>
<div class="slider">
    <div *ngFor="let item of slideArray;let i = index;">
     <input type="radio" name="slider" id="" checked>
     <div class="imgBx">
        <img [src]='item'>
        <div class="content">
           <h2>{{EntireSlide[i].title}}</h2> 
           <ng-container *ngIf="EntireSlide[i].provenance_text != null; else elseTemplat">
            <p>{{EntireSlide[i].provenance_text}}</p>
           </ng-container>
           <ng-template #elseTemplat>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit culpa soluta harum ipsum ipsam earum nostrum perferendis, dolorum impedit dolorem recusandae sapiente reiciendis nesciunt perspiciatis quaerat libero iste? Totam, excepturi.</p>
           </ng-template>
           <a href="{{item}}">View Image</a>
        </div>
     </div>
    </div>
</div>
<section>
    <div>
        <div *ngFor="let item of artArray;let i = index;" class="each">
            <div>
                <div class="image">
                    <img [src]='item'>
                </div>
             <p class="title">{{EntireArray[i].title}}</p>
             <div class="view">
                <a href="{{item}}" target="_blank">View Image</a>
                <a routerLink="{{EntireArray[i].id}}">View Info</a>
             </div>
            </div>
        </div>
        <div class="next">
            <a (click)="nextArt()"><span>Next Page</span></a>
        </div>
    </div>
</section>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="circle">
            <div class="wave"></div>
        </div>
    </ng-template>
</body>