*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px #4973ff;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.wave{
    position: relative;
    width: 100%;
    height: 100%;
    background: #4973ff;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
}
.wave::after,.wave::before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    background: #000;
}
.wave::before{
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 5s linear infinite;
}
.wave::after{
    border-radius: 40%;
    background: rgba(255, 255, 255, .5);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
body{
    margin:0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-size: 30px;
    color: #fff;
    cursor: pointer;
}
.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
    margin-bottom: 10px;
}
.slider .imgBx{
    border: 15px solid #555;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}
.slider input[type="radio"]:checked + .imgBx{
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.75s;
}
.slider .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .imgBx .content{
    position: relative;
    text-align: center;
    max-width: 800px;
}
.slider .imgBx .content h2{
    font-size: 6em;
    line-height: 1em;
    color: #fff;
}
.slider .imgBx .content p{
    font-size: 1.1em;
    color: #fff;
}
.slider .imgBx .content a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
}
.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.image{
    position: relative;
    border: 20px solid grey;
    border-radius: 3px;
    height: 600px;
    width: 100%;
} 
.each{
    margin-bottom: 30px;
}
.image img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.title{
    font-style: italic;
    font-size: 2em;
    line-height: 1.1em;
    letter-spacing: 2px;
    margin: 20px;
}
.view a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 25px;
    cursor: pointer;
    color:#333;
    background: none;
    border: 1px solid #888;
    margin-left: 20px;
}
.view a:hover{
    border:1px solid rgba(255, 255, 255, .4);
    background: #333;
    color: #fff;
}
@media (max-width:768px) {
    header{
        padding: 20px 40px;
    }
    .slider .imgBx{
        padding: 40px;
    }
    .slider .imgBx .content h2{
        font-size: 3em;
    }
    .slider .imgBx .content p{
        font-size: 1em;
        color: #fff;
        margin-top: 10px;
    }
}
@media (max-width:420px) {
   .view a{
    padding: 10px 20px;
    border-radius: 20px;
   
   } 
}
.next{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.next a{
    position: relative;
    background: #0690fd;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    box-shadow: 0 20px 25px #0690fd44;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}
.next a:hover{
    width: 200px;
    transition-delay: .5s;
}
.next a::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: 25px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: .5s;
}
.next a:hover::before{
    transform: rotate(45deg) translate(50px,-50px);
}
.next a::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: -50px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50px, 50px);
    transition: .5s;
}
.next a:hover::after{
    transform: rotate(45deg) translate(50px,-50px);
    transition-delay: 1s;
}
.next a span{
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: .5s;
    transform: translateX(-30px);
}
.next a:hover span{
    visibility: visible;
    opacity: 1;
    transition-delay: .75s;
    transform: translateX(10px);
}